.gridPadre, .contenedorCardsGrid {
  display: grid; }

.img__portada {
  object-fit: cover; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 18px;
  position: relative;
  min-height: 90vh;
  padding-bottom: 9rem; }
  body a {
    text-decoration: none;
    color: black; }
  body h1 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: black; }
  body h2 {
    font-size: 1.5rem;
    justify-content: center;
    width: 100%;
    margin-top: 10%; }
  body li {
    list-style: none; }
  body footer {
    position: absolute;
    bottom: 0;
    width: 100%; }

.copyright {
  background-color: rgba(128, 128, 128, 0.712); }

.img__portada {
  width: 100%;
  height: 400px; }

.container {
  margin-top: 6rem; }

/* Grid body */
.contenedor {
  text-align: center;
  margin: auto;
  padding: 30px; }

.gridPadre {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  grid-template-areas: "imagenUno imagenDos imagenTres" "imagenCuatro imagenCinco imagenSeis"; }

.imagenUno {
  grid-area: imagenUno; }

.imagenDos {
  grid-area: imagenDos; }

.imagenTres {
  grid-area: imagenTres; }

.imagenCuatro {
  grid-area: imagenCuatro; }

.imagenCinco {
  grid-area: imagenCinco; }

.imagenSeis {
  grid-area: imagenSeis; }

.imagenGaleria {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: grayscale(100%); }
  .imagenGaleria:hover {
    filter: brightness(100%);
    z-index: 5; }

.contenedorCardsGrid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr); }

.card1 {
  grid-area: 1 / 2 / 2 / 3; }

.card2 {
  grid-area: 2 / 2 / 3 / 3; }

.card3 {
  grid-area: 3 / 2 / 4 / 3; }

.card4 {
  grid-area: 4 / 2 / 5 / 3; }

.card5 {
  grid-area: 5 / 2 / 6 / 3; }

.card6 {
  grid-area: 1 / 3 / 2 / 4; }

/* mobile */
@media only screen and (max-width: 599px) {
  .portada {
    display: none; }
  .contenedorBuscador {
    display: none; }
  .gridPadre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "imagenUno" "imagenDos" "imagenTres" "imagenCuatro" "imagenCinco" "imagenSeis"; }
  .contenedorCardsGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .card1 {
    grid-area: 1 / 2 / 2 / 3; }
  .card2 {
    grid-area: 2 / 2 / 3 / 3; }
  .card3 {
    grid-area: 3 / 2 / 4 / 3; }
  .card4 {
    grid-area: 4 / 2 / 5 / 3; }
  .card5 {
    grid-area: 5 / 2 / 6 / 3; }
  .card6 {
    grid-area: 6 / 2 / 7 / 3; } }

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .buscador {
    position: absolute;
    left: 68%; }
  .icon__buscador {
    display: none; }
  .icon__carrito {
    display: none; }
  .icon__usuario {
    display: none; }
  .gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagenUno imagenDos" "imagenTres imagenCuatro" "imagenCinco imagenSeis"; } }
