/* Grid body */
.contenedor {
    text-align: center;
    margin: auto;
    padding: 30px;
}

.gridPadre {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-template-areas:
        "imagenUno imagenDos imagenTres"
        "imagenCuatro imagenCinco imagenSeis"
    ;
}

.imagenUno {
    grid-area: imagenUno;
}

.imagenDos {
    grid-area: imagenDos;
}

.imagenTres {
    grid-area: imagenTres;
}

.imagenCuatro {
    grid-area: imagenCuatro;
}

.imagenCinco {
    grid-area: imagenCinco;
}

.imagenSeis {
    grid-area: imagenSeis;
}

.imagenGaleria {
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: grayscale(100%);
    &:hover {
        filter: brightness(100%);
        z-index: 5;
    }
}


.contenedorCardsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
.card1 { grid-area: 1 / 2 / 2 / 3; }
.card2 { grid-area: 2 / 2 / 3 / 3; }
.card3 { grid-area: 3 / 2 / 4 / 3; }
.card4 { grid-area: 4 / 2 / 5 / 3; }
.card5 { grid-area: 5 / 2 / 6 / 3; }
.card6 { grid-area: 1 / 3 / 2 / 4; }
     